.container{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.container1{
    margin: 0;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
.container >div{
    border: 1px solid plum;
    height:  250px;
    background-color: white;
    justify-content: space-around;
   

}
.container2{
    padding-left: 20px;
}
.p1{
    font-size: 15px;
}
.p2{
    font-size: 10px;
}